/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
:root {
  --text-size-xxs: 1.2rem;
  --text-size-xs: 1.4rem;
  --text-size-s: 1.6rem;
  --text-size-sm: 2rem;
  --text-size-m: 2.4rem;
  --text-size-l: 3.2rem;
  --text-size-xl: 4.8rem;
  --text-size-xxl: 6.4rem;
  --brand-dark-grey: #0e0e0e;
  --brand-red-coral: #ff444f;
  --brand-orange: #ff6444;
  --brand-secondary: #85acb0; }
  :root .theme--light {
    --general-main-1: #ffffff;
    --general-main-2: #ffffff;
    --general-section-1: #f2f3f4;
    --general-section-2: #f2f3f4;
    --general-disabled: #eaeced;
    --general-hover: #e6e9e9;
    --general-active: #d6dadb;
    --text-prominent: #333333;
    --text-general: #333333;
    --text-less-prominent: #999999;
    --text-disabled: #d6d6d6;
    --text-profit-success: #4bb4b3;
    --text-loss-danger: #ec3f3f;
    --text-colored-background: #ffffff;
    --purchase-main-1: #4bb4b3;
    --purchase-section-1: #3d9494;
    --purchase-main-2: #ec3f3f;
    --purchase-section-2: #d33636;
    --purchase-disabled-main: #eaeced;
    --purchase-disabled-section: #e6e9e9;
    --button-primary-default: var(--brand-red-coral);
    --button-secondary-default: #999999;
    --button-tertiary-default: transparent;
    --button-primary-hover: #eb3e48;
    --button-secondary-hover: rgba(0,0,0,0.07843);
    --button-tertiary-hover: rgba(255,68,79,0.07843);
    --overlay-outside-dialog: rgba(0,0,0,0.72157);
    --overlay-inside-dialog: rgba(255,255,255,0.96078);
    --shadow-menu: rgba(0,0,0,0.16078);
    --state-normal: #ffffff;
    --state-hover: #e6e9e9;
    --state-active: #d6dadb;
    --state-disabled: #eaeced;
    --border-normal: #d6dadb;
    --border-hover: #999999;
    --border-active: var(--brand-secondary);
    --border-disabled: #eaeced;
    --fill-normal: #ffffff;
    --fill-hover: #999999;
    --fill-active: var(--brand-secondary);
    --fill-disabled: #eaeced;
    --status-default: #eaeced;
    --status-danger: #ec3f3f;
    --status-success: #4bb4b3;
    --status-warning: #ffad3a;
    --status-info: #377cfc;
    --status-colored-background: #ffffff;
    --transparent-success: transparentize(#4bb4b3, 0.92); }
  :root .theme--dark {
    --general-main-1: #0e0e0e;
    --general-main-2: #151717;
    --general-section-1: #151717;
    --general-section-2: #0e0e0e;
    --general-disabled: #1d1f20;
    --general-hover: #242828;
    --general-active: #323738;
    --text-prominent: #ffffff;
    --text-general: #c2c2c2;
    --text-less-prominent: #6e6e6e;
    --text-disabled: #3e3e3e;
    --text-profit-success: #00a79e;
    --text-loss-danger: #cc2e3d;
    --text-colored-background: #ffffff;
    --purchase-main-1: #00a79e;
    --purchase-section-1: #008079;
    --purchase-main-2: #cc2e3d;
    --purchase-section-2: #a32430;
    --purchase-disabled-main: #1d1f20;
    --purchase-disabled-section: #0e0e0e;
    --button-primary-default: var(--brand-red-coral);
    --button-secondary-default: #6e6e6e;
    --button-tertiary-default: transparent;
    --button-primary-hover: #eb3e48;
    --button-secondary-hover: rgba(0,0,0,0.07843);
    --button-tertiary-hover: rgba(255,68,79,0.07843);
    --overlay-outside-dialog: rgba(0,0,0,0.72157);
    --overlay-inside-dialog: rgba(14,14,14,0.96078);
    --shadow-menu: rgba(0,0,0,0.30196);
    --state-normal: #0e0e0e;
    --state-hover: #242828;
    --state-active: #323738;
    --state-disabled: #1d1f20;
    --border-normal: #323738;
    --border-hover: #6e6e6e;
    --border-active: var(--brand-secondary);
    --border-disabled: #1d1f20;
    --fill-normal: #0e0e0e;
    --fill-hover: #6e6e6e;
    --fill-active: var(--brand-secondary);
    --fill-disabled: #1d1f20;
    --status-default: #eaeced;
    --status-danger: #cc2e3d;
    --status-warning: #ffad3a;
    --status-success: #00a79e;
    --status-info: #377cfc;
    --status-colored-background: #ffffff;
    --transparent-success: transparentize(#00a79e, 0.92); }

/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Implementation of themes
 * generate sets of themes keys object property (dark / light)
 * @param $themes - themes property
 * Usage example:
   @include themify($themes) { color: themed('background_color') }
 */
/*
 * Generate typefaces key-value pair of themefy object
 * Should be inside themify mixins
 * Example:
   @include themify($themes) { border-color: 1px solid themed('background_color') }
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Themified Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/* postcss-bem-linter: ignore */
html {
  font-size: 62.5%;
  /** TODO: define breakpoints */ }

/** @define body */
.body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* postcss-bem-linter: ignore */
*, html, .body {
  font-family: roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box; }

/** @define select */
.select {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  padding: 2px 3px;
  border: 1px solid var(--border-normal);
  border-radius: 4px; }

/** @define input */
.input {
  font-family: inherit;
  font-style: inherit;
  padding: 2px 3px;
  color: var(--text-prominent); }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--text-prominent); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--text-prominent); }

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--text-prominent); }

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--text-prominent); }

/** @define theme */
.theme--light {
  background: #ffffff; }

.theme--dark {
  background: #0e0e0e; }

/** @define container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; }

/** @define hidden */
.hidden {
  visibility: hidden !important;
  transition: none !important; }

/** @define absolute-center-v */
.absolute-center-v {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0; }

/** @define link */
.link {
  color: #ff444f;
  color: var(--brand-red-coral);
  font-weight: bold;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline; }
  .link--white {
    color: #ffffff; }

/** @define icon */
.icon--centered {
  top: 0.8em;
  left: 5%; }

/** @define center-text */
.center-text {
  text-align: center; }

/** @define no-margin */
.no-margin {
  margin: 0; }

/** @define hr */
.hr {
  border-top: var(--general-section-1);
  display: block;
  height: 1px;
  border: 0;
  margin: 0.5em 0;
  padding: 0; }

/** @define deriv-app */
.deriv-app {
  height: 100%;
  overflow: hidden; }

.account {
  margin: 0 16px; }
  .account .vertical-tab {
    height: calc(100vh - 83px); }
    .account .vertical-tab__tab {
      min-width: 240px; }
  .account__inset_header {
    box-shadow: inset 0 -1px 0 0 var(--general-section-1); }
    .account__inset_header-subheading {
      font-size: 1.4rem;
      line-height: 1.5;
      margin-right: 8px;
      color: var(--text-prominent); }
  .account__inset_header-icon {
    width: 24px;
    height: 24px; }
  .account__tab_container {
    padding: 0 8px;
    height: 100%;
    width: 100%; }
  .account__scrollbars_container {
    height: 100%;
    padding-top: 24px;
    padding-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px; }
    .account__scrollbars_container--grid-layout {
      display: grid;
      grid-gap: 4px; }
      .account__scrollbars_container--grid-layout .dc-input {
        margin-bottom: 0; }
      .account__scrollbars_container--grid-layout .dc-dropdown-container {
        margin-top: 0; }
        .account__scrollbars_container--grid-layout .dc-dropdown-container .dc-dropdown__display-text, .account__scrollbars_container--grid-layout .dc-dropdown-container .dc-list__item-text {
          text-transform: unset; }
  .account-form {
    overflow: hidden;
    height: 100%;
    min-height: 500px;
    width: 100%; }
    .account-form__header {
      position: relative;
      font-size: 1.4em;
      font-weight: bold;
      margin-bottom: 1.6em; }
      .account-form__header:not(:first-child) {
        margin-top: 1.6em; }
      .account-form__header:before {
        content: '';
        position: absolute;
        top: 0.5em;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid var(--general-section-1); }
    .account-form__title {
      position: absolute;
      padding-right: 8px;
      background: var(--general-main-1);
      color: var(--text-prominent); }
    .account-form__subtitle {
      padding-left: 8px;
      font-weight: normal;
      color: var(--text-prominent); }
    .account-form__fieldset {
      position: relative;
      max-width: 400px;
      margin-top: 9px;
      margin-bottom: 18px; }
      .account-form__fieldset--2-cols {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 8px; }
    .account-form__footer {
      height: 80px;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      width: 100%;
      padding: 16px 24px;
      align-items: center;
      justify-content: flex-end;
      z-index: 999;
      border-radius: 0 4px 4px 0;
      border-top: 2px solid var(--general-section-1);
      background-color: var(--general-main-1); }
      .account-form__footer-btn {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0; }
  .account__intial-loader {
    height: calc(100vh - 240px); }
  .account__text {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
    color: var(--text-general); }
    .account__text--small {
      font-size: 1.2em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      text-transform: none;
      text-align: left;
      line-height: 1.25;
      color: var(--text-general); }
    .account__text--xsmall {
      font-size: 1em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      text-transform: none;
      text-align: left;
      line-height: unset;
      color: var(--text-general); }
    .account__text--grey {
      color: var(--text-prominent); }
  .account .account-management__message {
    margin: 1em 0;
    font-weight: bold;
    font-size: 1.6em;
    color: var(--text-prominent); }
    .account .account-management__message-content {
      display: flex;
      width: 100%;
      height: 100%;
      margin: 2em 16px;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
    .account .account-management__message-icon {
      width: 128px;
      height: 128px; }
  .account .account-management__text {
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
    color: var(--text-general); }
  .account .account-management-flex-wrapper {
    display: flex; }
    .account .account-management-flex-wrapper--space-between {
      justify-content: space-between; }
  .account .account__text_container {
    margin-top: 12px;
    margin-bottom: 24px; }
  .account .account-management-table {
    width: 100%;
    max-width: 546px;
    margin-top: 24px; }
    .account .account-management-table thead {
      position: relative; }
      .account .account-management-table thead tr {
        padding-bottom: 8px; }
      .account .account-management-table thead th {
        font-size: 1.4em;
        color: rgba(0, 0, 0, 0.8);
        font-weight: 700;
        text-transform: none;
        text-align: left;
        line-height: 1.5;
        color: var(--text-general); }
    .account .account-management-table__divider {
      position: relative;
      display: block; }
      .account .account-management-table__divider th {
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0px;
        border-bottom: 2px solid var(--general-section-1); }
    .account .account-management-table tbody tr {
      border-bottom: 1px solid var(--general-section-1);
      padding: 8px 0; }
      .account .account-management-table tbody tr:first-child {
        padding-top: 0;
        padding-bottom: 4px; }
    .account .account-management-table--last {
      margin-top: 28px; }
  .account .account-limit-container {
    height: 100%;
    width: 100%; }
  .account .account-limit-popover {
    display: flex;
    align-content: center;
    padding-left: 4px; }
  .account .account-limit-popover-target {
    height: 100%;
    display: flex;
    align-items: center; }
  .account .account-limit-info__inset_header {
    display: flex;
    align-items: center; }
  .account .account-limit-info * {
    padding-left: 8px; }

/** @define forgot-password; weak */
.forgot-password {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 16px;
  max-width: 400px;
  margin: 24px auto 0;
  color: var(--text-general);
  font-size: 1.2rem;
  line-height: 1.5; }
  .forgot-password__content {
    display: grid;
    grid-template-columns: 32px auto;
    grid-gap: 8px; }
    .forgot-password__content .inline-icon {
      width: 32px;
      height: 32px;
      margin-right: 8px; }

/** @define form-submit-error-message; weak */
.form-submit-error-message {
  display: flex;
  align-items: center;
  margin-right: auto;
  font-size: 1.2rem;
  font-weight: bold;
  flex: 1;
  color: var(--text-general); }
  .form-submit-error-message p {
    padding-left: 16px; }

/** @define initial-loader; weak */
.initial-loader--btn .initial-loader__barspinner--rect {
  background-color: var(--general-main-1); }

.initial-loader--btn .barspinner {
  margin: 0 4px 0 -4px; }

