/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
/* gradient colors */
/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/* postcss-bem-linter: ignore */
html {
  font-size: 62.5%;
  /** TODO: define breakpoints */ }

/** @define body */
.body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* postcss-bem-linter: ignore */
*, html, .body {
  font-family: "IBM Plex Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box; }

/** @define select */
.select {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  padding: 2px 3px;
  border: 1px solid var(--border-normal);
  border-radius: 4px; }

/** @define input */
.input {
  font-family: inherit;
  font-style: inherit;
  padding: 2px 3px;
  color: var(--text-general); }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--text-general); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--text-general); }

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--text-general); }

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--text-general); }

/** @define theme */
.theme--light {
  background: #ffffff; }

.theme--dark {
  background: #0e0e0e; }

/** @define container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; }

/** @define hidden */
.hidden {
  visibility: hidden !important;
  transition: none !important; }

/** @define absolute-center-v */
.absolute-center-v {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0; }

/** @define link */
.link {
  color: var(--brand-red-coral);
  font-weight: bold;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline;
    cursor: pointer; }
  .link--white {
    color: #ffffff; }

/** @define icon */
.icon--centered {
  top: 0.8em;
  left: 5%; }

/** @define center-text */
.center-text {
  text-align: center; }

/** @define no-margin */
.no-margin {
  margin: 0; }

/** @define hr */
.hr {
  border-top: var(--general-section-1);
  display: block;
  height: 1px;
  border: 0;
  margin: 0.5em 0;
  padding: 0; }

/** @define deriv-app */
.deriv-app {
  height: 100%;
  overflow: hidden; }

.dc-modal__container_mt5-password-modal {
  max-width: 424px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .dc-modal__container_mt5-password-modal h2 {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
    color: var(--text-prominent);
    text-transform: none;
    margin-bottom: 3em; }
  .dc-modal__container_mt5-password-modal form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em; }
  .dc-modal__container_mt5-password-modal__description {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.25;
    color: var(--text-prominent);
    text-transform: none;
    margin-top: 1em; }
  .dc-modal__container_mt5-password-modal__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .dc-modal__container_mt5-password-modal .dc-modal-header {
    display: none; }
  .dc-modal__container_mt5-password-modal .success-change {
    margin-top: 3em; }
  .dc-modal__container_mt5-password-modal .dc-password-meter__container {
    flex-grow: 0;
    width: 300px; }
  .dc-modal__container_mt5-password-modal .mt5-password-field {
    margin-bottom: 1em;
    width: 80%; }

.dc-modal__container_top-up-virtual {
  width: 384px;
  min-height: 367px;
  display: flex;
  flex-direction: column; }
  .dc-modal__container_top-up-virtual__body {
    display: flex;
    flex-direction: column;
    padding: 5em 3em 3em;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center; }
  .dc-modal__container_top-up-virtual__description {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.25;
    text-transform: none;
    color: var(--text-general); }
  .dc-modal__container_top-up-virtual--h4 {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.25;
    text-transform: none;
    color: var(--text-prominent); }
  .dc-modal__container_top-up-virtual--balance {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
    color: var(--text-profit-success); }
  .dc-modal__container_top-up-virtual--balance-descriptor {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: none;
    text-align: center;
    line-height: 1.25;
    color: var(--text-general); }
  .dc-modal__container_top-up-virtual--button {
    height: 4rem;
    width: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0;
    margin: 1.6rem; }
    .dc-modal__container_top-up-virtual--button .btn {
      font-size: 1.4em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
      text-transform: none;
      text-align: center;
      line-height: 1.5;
      background-color: var(--brand-red-coral);
      color: var(--text-colored-background);
      text-transform: none; }
      .dc-modal__container_top-up-virtual--button .btn--disabled {
        background-color: var(--brand-red-coral);
        opacity: 0.32;
        cursor: auto;
        cursor: initial; }
  .dc-modal__container_top-up-virtual .success-change {
    margin-top: 2em; }
    .dc-modal__container_top-up-virtual .success-change__body-area {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-grow: 1; }

.dc-modal-header__section--top-up-virtual {
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.5;
  color: var(--text-prominent);
  text-transform: none; }

.mt5-success-topup__heading {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.25;
  color: var(--text-prominent);
  text-transform: none;
  margin-top: 2em;
  padding: 0 1.6em; }

.mt5-success-topup__description p {
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.25;
  color: var(--text-general);
  text-transform: none; }

.dc-tooltip {
  position: relative;
  display: inline-block; }
  .dc-tooltip:hover .dc-tooltiptext {
    visibility: visible; }
  .dc-tooltip .dc-tooltiptext {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    line-height: unset;
    text-transform: none;
    box-shadow: 0 0 8px 0 rgba(21, 33, 45, 0.32);
    visibility: hidden;
    width: 216px;
    top: 100%;
    left: 100%;
    margin-left: -200px;
    background-color: var(--general-main-1);
    color: var(--text-prominent);
    padding: 0.5em;
    border-radius: 0.3em;
    position: absolute;
    z-index: 1; }
    .dc-tooltip .dc-tooltiptext:after {
      content: ' ';
      position: absolute;
      bottom: 100%;
      /* At the top of the tooltip */
      left: 89%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--general-main-1) transparent; }

/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
/* gradient colors */
/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
.dc-tabs {
  position: relative; }

.dc-tabs .dc-tabs__item:nth-child(1).dc-tabs__active ~ .dc-tabs__active-line {
  left: calc(var(--tab-width) * 1 - var(--tab-width)); }

.dc-tabs .dc-tabs__item:nth-child(2).dc-tabs__active ~ .dc-tabs__active-line {
  left: calc(var(--tab-width) * 2 - var(--tab-width)); }

.dc-tabs .dc-tabs__item:nth-child(3).dc-tabs__active ~ .dc-tabs__active-line {
  left: calc(var(--tab-width) * 3 - var(--tab-width)); }

.dc-tabs .dc-tabs__item:nth-child(4).dc-tabs__active ~ .dc-tabs__active-line {
  left: calc(var(--tab-width) * 4 - var(--tab-width)); }

.dc-tabs .dc-tabs__item:nth-child(5).dc-tabs__active ~ .dc-tabs__active-line {
  left: calc(var(--tab-width) * 5 - var(--tab-width)); }

.dc-tabs__list {
  width: 100%;
  line-height: 40px;
  display: flex;
  justify-content: center; }

.dc-tabs__item {
  list-style: none;
  font-size: 14px;
  text-align: center;
  padding: 0 24px;
  width: var(--tab-width);
  color: var(--text-general); }

.dc-tabs__item:not(.dc-tabs__active) {
  border-bottom: 1px solid var(--general-section-1);
  cursor: pointer;
  color: var(--text-general); }

.dc-tabs__active {
  font-weight: 700;
  color: var(--text-prominent); }

.dc-tabs__active-line {
  display: block;
  position: absolute;
  top: 39px;
  left: 0;
  width: var(--tab-width);
  height: 2px;
  background: var(--brand-red-coral);
  transition: all ease-in-out 0.3s; }

/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
/* gradient colors */
/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/* postcss-bem-linter: ignore */
html {
  font-size: 62.5%;
  /** TODO: define breakpoints */ }

/** @define body */
.body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* postcss-bem-linter: ignore */
*, html, .body {
  font-family: "IBM Plex Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box; }

/** @define select */
.select {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  padding: 2px 3px;
  border: 1px solid var(--border-normal);
  border-radius: 4px; }

/** @define input */
.input {
  font-family: inherit;
  font-style: inherit;
  padding: 2px 3px;
  color: var(--text-general); }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--text-general); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--text-general); }

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--text-general); }

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--text-general); }

/** @define theme */
.theme--light {
  background: #ffffff; }

.theme--dark {
  background: #0e0e0e; }

/** @define container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; }

/** @define hidden */
.hidden {
  visibility: hidden !important;
  transition: none !important; }

/** @define absolute-center-v */
.absolute-center-v {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0; }

/** @define link */
.link {
  color: var(--brand-red-coral);
  font-weight: bold;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline;
    cursor: pointer; }
  .link--white {
    color: #ffffff; }

/** @define icon */
.icon--centered {
  top: 0.8em;
  left: 5%; }

/** @define center-text */
.center-text {
  text-align: center; }

/** @define no-margin */
.no-margin {
  margin: 0; }

/** @define hr */
.hr {
  border-top: var(--general-section-1);
  display: block;
  height: 1px;
  border: 0;
  margin: 0.5em 0;
  padding: 0; }

/** @define deriv-app */
.deriv-app {
  height: 100%;
  overflow: hidden; }

/** @define table */
.table {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  text-transform: default;
  text-align: center;
  line-height: 1.5;
  color: var(--text-general); }
  .table__cell {
    padding: 0.75em;
    display: flex;
    align-items: center; }
    .table__cell:first-child {
      padding-left: 0; }
    .table__cell:last-child {
      padding-right: 0; }
  .table__row {
    display: grid;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    padding: 0 1.6em;
    box-sizing: border-box;
    text-decoration: none;
    position: relative; }
    .table__row, .table__row:active, .table__row:visited {
      color: var(--text-general); }
    .table__row--preloader {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      max-height: 64px;
      width: 100%; }
  .table__head {
    border-bottom: 2px solid var(--general-section-1);
    height: 52px; }
  .table__head .table__row {
    color: var(--text-prominent);
    height: 100%;
    border-bottom: none; }
  .table__body {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 0; }
    .table__body .table__row-link:hover {
      background-color: var(--state-hover);
      cursor: pointer; }
    .table__body .table__row:last-child {
      border-bottom: none; }
  .table__head, .table__foot {
    font-weight: 500;
    white-space: nowrap; }
  .table__foot .table__row {
    color: var(--text-general);
    border-top: var(--general-section-1);
    border-bottom: none; }

/*
*  [Work In Progress]
*  This file is a WIP and will be broken down into different files for different components before the module is enabled
*  Class names might change, properties and values will definitely change
* */
/* stylelint-disable */
/** @define mt5-dashboard; */
.mt5-dashboard {
  margin: 4.8em auto;
  max-width: 960px; }
  .mt5-dashboard--hint {
    font-size: 10px;
    color: var(--text-less-prominent); }
  .mt5-dashboard__welcome-message {
    margin-bottom: 3.2em; }
    .mt5-dashboard__welcome-message--content {
      display: flex;
      justify-content: space-between; }
    .mt5-dashboard__welcome-message--heading {
      font-size: 1.6em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
      text-transform: none;
      text-align: left;
      line-height: 1.75;
      color: var(--text-prominent);
      line-height: 1.5em; }
    .mt5-dashboard__welcome-message--paragraph {
      font-size: 1.4em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      text-transform: none;
      text-align: left;
      line-height: 1.5;
      color: var(--text-general); }
    .mt5-dashboard__welcome-message--hint {
      font-size: 1em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      text-transform: none;
      text-align: left;
      line-height: unset;
      color: var(--text-less-prominent); }
    .mt5-dashboard__welcome-message--button {
      margin: 0;
      background-color: transparent;
      font-weight: bold;
      height: 4em;
      color: var(--text-prominent); }
  .mt5-dashboard__missing-real {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.6rem;
    background-color: var(--general-section-1);
    margin: 2.4em 0; }
    .mt5-dashboard__missing-real--heading {
      font-size: 1.6em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
      text-transform: none;
      text-align: left;
      line-height: 1.75;
      color: var(--text-prominent);
      line-height: 1.5em; }
    .mt5-dashboard__missing-real--button {
      height: 4em; }
  .mt5-dashboard__accounts-display {
    margin-bottom: 2.4em; }
  .mt5-dashboard__download-center {
    border-radius: 4px;
    border: solid 1px var(--border-normal);
    padding-top: 1.6em;
    padding-bottom: 1.6em; }
    .mt5-dashboard__download-center-options {
      display: flex;
      justify-content: space-between; }
      .mt5-dashboard__download-center-options--desktop, .mt5-dashboard__download-center-options--mobile {
        display: flex;
        flex-flow: column nowrap;
        align-items: center; }
      .mt5-dashboard__download-center-options--desktop {
        margin-left: 7em;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start; }
        .mt5-dashboard__download-center-options--desktop-devices {
          width: 200px;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-right: 1.6em;
          flex-wrap: wrap; }
          .mt5-dashboard__download-center-options--desktop-devices svg:first-child {
            margin-right: 0.4em; }
          .mt5-dashboard__download-center-options--desktop-devices svg:not(:last-child) {
            margin-bottom: 1.6em; }
        .mt5-dashboard__download-center-options--desktop-links {
          height: 142px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between; }
      .mt5-dashboard__download-center-options--mobile {
        margin-right: 7em; }
        .mt5-dashboard__download-center-options--mobile-devices {
          margin-bottom: 1.6em; }
          .mt5-dashboard__download-center-options--mobile-devices svg:first-child {
            margin-right: 0.8em; }
        .mt5-dashboard__download-center-options--mobile-links {
          width: 27.1em;
          display: flex;
          justify-content: space-between; }
    .mt5-dashboard__download-center--heading {
      font-size: 1.6em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
      text-transform: none;
      text-align: left;
      line-height: 1.75;
      color: var(--text-prominent);
      line-height: 1.5em;
      margin-left: 1.3em;
      margin-bottom: 1.5em; }
    .mt5-dashboard__download-center--hint {
      font-size: 1em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      text-transform: none;
      text-align: left;
      line-height: unset;
      color: var(--text-less-prominent);
      margin-left: 7.05em; }

.mt5-attribute-describer {
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  text-transform: none;
  text-align: left;
  line-height: 1.5;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-general); }

.mt5-compare-accounts {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1; }
  .mt5-compare-accounts__data__table {
    flex: 1;
    padding: 0px 30px; }
  .mt5-compare-accounts__data__row {
    /*                     attribute   standard advanced synthetic */
    grid-template-columns: 2.7fr       1fr      1fr      1fr; }
  .mt5-compare-accounts__data .attribute, .mt5-compare-accounts__data .standard, .mt5-compare-accounts__data .advanced, .mt5-compare-accounts__data .synthetic {
    justify-content: flex-start; }
  .mt5-compare-accounts-modal__wrapper {
    margin-top: 1.6rem;
    display: flex;
    justify-content: center; }
  .mt5-compare-accounts .mt5-compare-account--hint {
    color: var(--text-less-prominent);
    font-size: 12px;
    line-height: 1.5em;
    width: 100%;
    padding: 1.6em 6.4em 2.4em 6.4em; }

.mt5-real-accounts-display, .mt5-demo-accounts-display {
  margin-top: 2.4em;
  display: flex;
  justify-content: space-around; }

.mt5-account-card {
  min-height: 32em;
  width: 30.4em;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }
  .mt5-account-card:not(:hover) {
    border: solid 1px var(--border-normal); }
  .mt5-account-card:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
    border: solid 1px var(--general-main-1); }
  .mt5-account-card--heading {
    font-size: 1.6em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-transform: none;
    text-align: left;
    line-height: 1.75;
    color: var(--text-prominent);
    line-height: 1.5em; }
  .mt5-account-card--paragraph {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
    color: var(--text-general);
    line-height: 1.45em; }
  .mt5-account-card--balance {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-transform: capitalize;
    text-align: left;
    line-height: 1.5;
    color: var(--text-profit-success); }
  .mt5-account-card__type {
    padding: 1.6em 1.6em 0;
    display: flex; }
    .mt5-account-card__type--description {
      max-width: 19.2em;
      display: inline-block;
      margin-left: 1.6em; }
      .mt5-account-card__type--description .mt5-account-card--heading {
        margin-bottom: 0.5em; }
      .mt5-account-card__type--description .mt5-account-card--paragraph {
        width: 13em; }
  .mt5-account-card__clipboard {
    cursor: pointer;
    margin-left: 1em; }
  .mt5-account-card__cta {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .mt5-account-card__specs {
    padding: 0 1.6em 1.6em; }
  .mt5-account-card__specs-table {
    width: 100%; }
    .mt5-account-card__specs-table-attribute {
      width: 14.8em;
      display: inline-block;
      white-space: nowrap; }
      .mt5-account-card__specs-table-attribute .mt5-account-card--paragraph {
        color: var(--text-general); }
    .mt5-account-card__specs-table-data .mt5-account-card--paragraph {
      font-size: 1.4em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
      text-transform: none;
      text-align: left;
      line-height: 1.5;
      color: var(--text-prominent);
      line-height: 1.45em; }
  .mt5-account-card__commission {
    text-align: center; }
    .mt5-account-card__commission.mt5-account-card--paragraph {
      line-height: 1.4em; }
  .mt5-account-card__account-selection {
    height: 4rem;
    width: 27rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0;
    margin: 1.6rem;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    text-transform: none;
    text-align: center;
    line-height: 1.5; }
    .mt5-account-card__account-selection--primary {
      background-color: var(--brand-red-coral);
      color: var(--text-colored-background); }
    .mt5-account-card__account-selection--secondary {
      background-color: transparent;
      border: 2px solid var(--button-secondary-default);
      color: var(--text-prominent); }
      .mt5-account-card__account-selection--secondary:hover {
        background-color: var(--button-secondary-hover); }
  .mt5-account-card__login {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
    width: 272px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: var(--general-section-1);
    color: var(--text-general);
    margin: 1.6em 0 0.8em; }
    .mt5-account-card__login strong {
      font-weight: bold; }
  .mt5-account-card__manage {
    display: flex;
    justify-content: space-between; }
    .mt5-account-card__manage .btn {
      font-size: 1.2em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
      text-transform: none;
      text-align: center;
      line-height: 1.25;
      margin: 0 1em;
      width: 122px;
      height: 32px;
      color: var(--text-prominent); }

.mt5-password-manager {
  margin: 5.6rem auto 0;
  width: 400px; }
  .mt5-password-manager--paragraph {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
    color: var(--text-general); }
  .mt5-password-manager--error-message {
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: none;
    text-align: left;
    line-height: 1.5;
    color: var(--text-loss-danger);
    margin-bottom: 1em; }
  .mt5-password-manager--hint {
    font-size: 12px;
    color: var(--text-less-prominent);
    padding: 1.333em 0; }
  .mt5-password-manager__main-form, .mt5-password-manager__investor-wrapper {
    margin-top: 2.4rem; }
  .mt5-password-manager__investor-wrapper .mt5-password-manager--paragraph:first-child {
    margin-bottom: 0.6em; }
  .mt5-password-manager__investor-form {
    width: 300px;
    margin: 2.4em auto 0; }
  .mt5-password-manager__actions {
    display: flex;
    flex-flow: column nowrap;
    align-items: center; }
    .mt5-password-manager__actions .mt5-password-manager--button:last-child {
      margin-top: 0; }
  .mt5-password-manager--button {
    height: 4em;
    color: var(--text-prominent); }

.dc-modal__container_mt5-dashboard__compare-accounts {
  width: 904px; }

.dc-modal__container_mt5-password-manager__modal {
  width: 904px;
  height: 688px; }

/* stylelint-enable */

