/*------------------------------------*
 *  # Constants
 *------------------------------------*/
/* stylelint-disable color-no-hex */
/* COLOR PALETTE */
/* colors */
/* alpha colors */
/* gradient colors */
/* Preserve legacy variables */
/* Primary */
/* stylelint-enable color-no-hex */
/*------------------------------------*
 *  # SASS Mixins and Functions
 *------------------------------------*/
/*
 * SASS interpolation
 */
/*
 * PX to EM
 * @param $px - px value to be converted
 * @param $base - base font size (in `em`)
 * Note: 'em' values are calculate based on the element font-size
 *       to properly converts 'px' to 'em', please pass in the element font-size with it
 * Usage example:
    padding: em(16px, 1.6em); // font-size in 'em'
 */
/*
 * Set property by passing a property name, and values.
 * @param $property name - padding, margin etc.
 * @param $values        - values in `px` (space separated for multiple values)
 * @param $font-size     - base font-size in `em`
 * Usage example:
   @include toEm(padding, 8px 16px 8px, 1.6em);
 */
/*
 * Generate typefaces key-value pair of variable name and config
 * Example:
   --paragraph-center-bold-black: (14px, center, bold, black)
 */
/*
 * Sets font-size, font-weight, color, text-transform, text-align and line-height
 * Usage example:
   @include setTypeface(16px, bold, black, uppercase);
 */
/*
 * Set typefaces by passing a typeface variable name
 * @param $var   - typeface variable
 * @param $tt    - text-transform property
 * @param $align - text-align property
 * Usage example:
   @include typeface(--paragraph-bold-black, uppercase, center);
 */
/*
 * Range Slider Thumb styling is set here
 */
/*
 * SVG icons colors
 */
/*
 * Bar Spinner Animation
 * @param $count    - number of bars
 * @param $duration - duration of animation
 * @param $phase    - each bar phase change delay
 * Usage example:
   @include createBarspinnerAnimation(5, 1.2s, 0,1);
 */
/*
 * Tooltip colors
 * @param $color - color property
 * Usage example:
   @include tooltipColor($COLOR_RED);
 */
/*
 * Convert Tooltip colors
 * @param $color - css color property
 * Usage example:
   @include convertTooltipColor(var(--status-default));
 */
/*
    Constants
*/
/*
    Variables
*/
/*
    List of all typefaces variables in the format: --$FONT_SIZES-$TEXT_ALIGN-$FONT_WEIGHTS-COLORS.
    See $FONT_SIZES, $TEXT_ALIGN, $FONT_WEIGHTS, $COLORS maps above for references.
    Variables name example: --title-center-semibold-red
 */
/*
    to use styles without modifier class on .inline-icon
    use @extend

    e.g. style icon on parent hover:
        a:hover .inline-icon {
            @extend %inline-icon.active;
        }
*/
/* postcss-bem-linter: ignore */
html {
  font-size: 62.5%;
  /** TODO: define breakpoints */ }

/** @define body */
.body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

/* postcss-bem-linter: ignore */
*, html, .body {
  font-family: "IBM Plex Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box; }

/** @define select */
.select {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  padding: 2px 3px;
  border: 1px solid var(--border-normal);
  border-radius: 4px; }

/** @define input */
.input {
  font-family: inherit;
  font-style: inherit;
  padding: 2px 3px;
  color: var(--text-general); }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--text-general); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--text-general); }

:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--text-general); }

:-moz-placeholder {
  /* Firefox 18- */
  color: var(--text-general); }

/** @define theme */
.theme--light {
  background: #ffffff; }

.theme--dark {
  background: #0e0e0e; }

/** @define container */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box; }

/** @define hidden */
.hidden {
  visibility: hidden !important;
  transition: none !important; }

/** @define absolute-center-v */
.absolute-center-v {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0; }

/** @define link */
.link {
  color: var(--brand-red-coral);
  font-weight: bold;
  text-decoration: none; }
  .link:hover {
    text-decoration: underline;
    cursor: pointer; }
  .link--white {
    color: #ffffff; }

/** @define icon */
.icon--centered {
  top: 0.8em;
  left: 5%; }

/** @define center-text */
.center-text {
  text-align: center; }

/** @define no-margin */
.no-margin {
  margin: 0; }

/** @define hr */
.hr {
  border-top: var(--general-section-1);
  display: block;
  height: 1px;
  border: 0;
  margin: 0.5em 0;
  padding: 0; }

/** @define deriv-app */
.deriv-app {
  height: 100%;
  overflow: hidden; }

/* @define .composite-calendar; weak; */
.composite-calendar {
  display: grid;
  grid-template-columns: 128px minmax(-webkit-min-content, 280px) minmax(-webkit-min-content, 280px);
  grid-template-columns: 128px minmax(min-content, 280px) minmax(min-content, 280px);
  position: absolute;
  top: 36px;
  right: 0;
  z-index: 99;
  border-radius: 4px;
  background-color: var(--general-main-2);
  box-shadow: 0 2px 16px 8px var(--shadow-menu); }
  .composite-calendar .composite-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--general-main-1);
    z-index: 98; }
  .composite-calendar__input-fields {
    display: flex;
    border-radius: 4px; }
    .composite-calendar__input-fields > .input-field {
      margin: 0;
      /* postcss-bem-linter: ignore */
      /* postcss-bem-linter: ignore */ }
      .composite-calendar__input-fields > .input-field .color1-fill {
        fill: var(--text-prominent); }
      .composite-calendar__input-fields > .input-field .color1-stroke {
        stroke: var(--text-prominent); }
      .composite-calendar__input-fields > .input-field .input {
        height: 32px;
        background-color: var(--fill-normal);
        border: 1px solid var(--border-normal); }
        .composite-calendar__input-fields > .input-field .input:hover {
          border-color: var(--border-hover); }
        .composite-calendar__input-fields > .input-field .input:focus, .composite-calendar__input-fields > .input-field .input:active {
          border-color: var(--border-active); }
        .composite-calendar__input-fields > .input-field .input::-webkit-input-placeholder {
          color: var(--text-general); }
        .composite-calendar__input-fields > .input-field .input::-moz-placeholder {
          color: var(--text-general); }
        .composite-calendar__input-fields > .input-field .input:-ms-input-placeholder {
          color: var(--text-general); }
        .composite-calendar__input-fields > .input-field .input::-ms-input-placeholder {
          color: var(--text-general); }
        .composite-calendar__input-fields > .input-field .input::placeholder {
          color: var(--text-general); }
    .composite-calendar__input-fields > .input-field:not(:first-child) {
      margin-left: 8px; }
  .composite-calendar > .first-month .calendar__body, .composite-calendar > .second-month .calendar__body {
    border-bottom: none; }
  .composite-calendar__prepopulated-list {
    padding-top: 50px;
    font-size: 1.4em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.5;
    color: var(--text-prominent);
    background: var(--state-normal); }
    .composite-calendar__prepopulated-list--is-active {
      color: var(--text-prominent);
      background-color: var(--state-active);
      font-weight: bold; }
    .composite-calendar__prepopulated-list li {
      cursor: pointer;
      padding: 6px 6px 6px 16px;
      height: 32px;
      display: flex;
      align-items: center; }
      .composite-calendar__prepopulated-list li:hover:not(.composite-calendar__prepopulated-list--is-active) {
        background: var(--state-hover); }

/** @define table */
.table {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-size: 1.4em;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  text-transform: default;
  text-align: center;
  line-height: 1.5;
  color: var(--text-general); }
  .table__cell {
    padding: 0.75em;
    display: flex;
    align-items: center; }
    .table__cell:first-child {
      padding-left: 0; }
    .table__cell:last-child {
      padding-right: 0; }
  .table__row {
    display: grid;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    padding: 0 1.6em;
    box-sizing: border-box;
    text-decoration: none;
    position: relative; }
    .table__row, .table__row:active, .table__row:visited {
      color: var(--text-general); }
    .table__row--preloader {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      max-height: 64px;
      width: 100%; }
  .table__head {
    border-bottom: 2px solid var(--general-section-1);
    height: 52px; }
  .table__head .table__row {
    color: var(--text-prominent);
    height: 100%;
    border-bottom: none; }
  .table__body {
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 0; }
    .table__body .table__row-link:hover {
      background-color: var(--state-hover);
      cursor: pointer; }
    .table__body .table__row:last-child {
      border-bottom: none; }
  .table__head, .table__foot {
    font-weight: 500;
    white-space: nowrap; }
  .table__foot .table__row {
    color: var(--text-general);
    border-top: var(--general-section-1);
    border-bottom: none; }

/** @define reports; weak */
.reports {
  margin: 16px;
  box-shadow: 18px 8px 8px var(--shadow-menu);
  border-radius: 4px; }
  .reports__meta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px 16px; }
    .reports__meta-description--heading {
      font-size: 1.6em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 700;
      text-transform: none;
      text-align: left;
      line-height: 1.75;
      color: var(--text-prominent);
      line-height: 1.55; }
    .reports__meta-description--paragraph {
      font-size: 1.4em;
      color: rgba(0, 0, 0, 0.8);
      font-weight: 400;
      text-transform: none;
      text-align: left;
      line-height: 1.5;
      color: var(--text-general); }
    .reports__meta-filter {
      position: relative;
      display: flex; }
  .reports__inset_header {
    box-shadow: inset 0 -1px 0 0 var(--general-section-1);
    margin-bottom: 24px; }
  .reports .unknown-icon {
    margin-left: 8px;
    fill: var(--text-general);
    border-radius: 4px; }

/** @define statement; weak */
.statement {
  height: 100%;
  /*
        TABLE STYLES
    */
  /*
        MOBILE CARDS
    */ }
  .statement__content {
    width: 100%;
    max-height: 100%; }
  .statement__table {
    height: calc(100% - 42px);
    flex: 1; }
  .statement__row {
    /*                     icon   refId tr_time  transaction cred/debt  balance */
    grid-template-columns: 0.8fr  1.2fr 1fr      0.8fr         1fr        1fr; }
    .statement__row--detail {
      overflow: hidden;
      max-height: 63px;
      display: flex;
      align-items: center;
      padding: 0;
      justify-content: center;
      background-color: var(--general-section-1); }
      .statement__row--detail-text {
        padding: 1.12em; }
    .statement__row .date {
      text-align: left; }
  .statement .amount, .statement .balance {
    justify-content: flex-end; }
  .statement .amount {
    font-weight: bold; }
    .statement .amount--profit {
      color: var(--text-profit-success); }
    .statement .amount--loss {
      color: var(--text-loss-danger); }
  .statement--card-view {
    background: var(--general-main-2);
    overflow: hidden; }
    .statement--card-view .statement__filter {
      padding: 0 1.2em;
      border-bottom: 1px solid var(--general-section-1); }
      .statement--card-view .statement__filter-content {
        padding: 0;
        margin: 0 auto;
        max-width: 450px;
        display: grid;
        grid-template-columns: 1fr 3em 1fr;
        text-align: center; }
        .statement--card-view .statement__filter-content .datepicker__input-field {
          width: 100%; }
      .statement--card-view .statement__filter-label {
        display: none; }
    .statement--card-view .statement__content {
      padding: 0; }
    .statement--card-view .statement__card-list {
      padding: 0 1.2em;
      height: 100%; }

/** @define statement-card */
.statement-card {
  /* postcss-bem-linter: ignore */ }
  .statement-card__header {
    font-size: 1em;
    padding: 0.5em;
    border-bottom: 1px solid var(--general-section-1);
    display: flex;
    justify-content: space-between; }
  .statement-card__refid a {
    color: #2196f3;
    text-decoration: none; }
  .statement-card__body {
    padding: 0.5em;
    font-size: 1.2em; }
  .statement-card__desc {
    margin-bottom: 0.7em; }
  .statement-card__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: bold; }
  .statement-card__cell-text {
    vertical-align: middle; }
  .statement-card__amount--sell, .statement-card__amount--deposit {
    color: var(--text-profit-success); }
  .statement-card__amount--buy, .statement-card__amount--withdrawal {
    color: var(--text-loss-danger); }
  .statement-card__icon {
    display: inline-block;
    height: 1.6em;
    width: 1.6em;
    background-size: 1.6em 1.6em;
    vertical-align: middle;
    margin-right: 0.5em; }

/** @define statement-empty */
.statement-empty {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .statement-empty__icon {
    height: 6.4em;
    width: 6.4em;
    margin-bottom: 1.4em; }
  .statement-empty__text {
    font-size: 1.4em; }

/** @define profit-table; weak */
.profit-table {
  height: 100%;
  /*
        TABLE STYLES
    */ }
  .profit-table__content {
    width: 100%;
    max-height: 100%; }
  .profit-table__table {
    height: calc(100% - 42px);
    flex: 1; }
  .profit-table__row {
    /*                     icon   refId buy_time  buy_price sell_time  sell_price profit/loss */
    grid-template-columns: 0.8fr  1.2fr 1fr       0.8fr     1fr        1fr        1fr; }
  .profit-table .buy_price, .profit-table .sell_price, .profit-table .profit_loss {
    justify-content: flex-end; }
  .profit-table .sell_time, .profit-table .purchase_time {
    text-align: left; }

/** @define open-positions; weak */
.open-positions {
  height: 100%;
  /*
        TABLE STYLES
    */ }
  .open-positions__content {
    width: 100%;
    max-height: 100%; }
  .open-positions__indicative {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column; }
    .open-positions__indicative--amount {
      display: flex;
      align-items: center;
      line-height: 16px; }
    .open-positions__indicative-no-resale-msg {
      clear: both;
      text-align: right;
      font-size: smaller; }
  .open-positions__profit-loss {
    display: flex;
    justify-content: center;
    align-items: center; }
    .open-positions__profit-loss--movement {
      width: 16px;
      height: 16px; }
      .open-positions__profit-loss--movement-complete, .open-positions__profit-loss--movement-complete:after {
        display: none; }
      .open-positions__profit-loss--movement:after {
        content: '';
        width: 16px; }
    .open-positions__profit-loss--negative {
      color: #e31c4b; }
      .open-positions__profit-loss--negative:before {
        content: '-';
        color: inherit; }
    .open-positions__profit-loss--positive {
      color: var(--brand-secondary); }
      .open-positions__profit-loss--positive:before {
        content: '+';
        color: inherit; }
  .open-positions__table {
    height: calc(100% - 42px);
    flex: 1; }
  .open-positions__row {
    /*                     icon   refId buy_price  potential_payout potential_profit  indicative_price rem_time */
    grid-template-columns: 0.8fr  1.2fr 1fr        1fr            1fr               1fr              1fr;
    width: 100%; }
  .open-positions .buy_price, .open-positions .payout, .open-positions .indicative, .open-positions .profit {
    justify-content: flex-end; }
  .open-positions .type {
    padding-right: 0; }
  .open-positions .progress-slider {
    border: none;
    margin: 0; }
    .open-positions .progress-slider__ticks {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .open-positions .progress-slider__ticks-step {
        background: var(--state-hover); }
      .open-positions .progress-slider__ticks-wrapper {
        margin-top: 6px; }
      .open-positions .progress-slider__ticks-caption {
        padding: 0;
        margin-right: 8px;
        white-space: nowrap; }

/** @define empty-trade-history; weak*/
.empty-trade-history {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto; }
  .empty-trade-history__icon {
    width: 96px;
    height: 96px;
    margin-bottom: 16px;
    /* postcss-bem-linter: ignore */
    /* postcss-bem-linter: ignore */ }
    .empty-trade-history__icon .color1-fill {
      fill: var(--text-disabled); }
    .empty-trade-history__icon .color1-stroke {
      stroke: var(--text-disabled); }
  .empty-trade-history__text {
    font-size: 1.4em;
    text-align: center;
    line-height: 20px;
    color: var(--text-disabled); }
  .empty-trade-history .btn {
    width: 100%;
    height: 40px;
    border: 1px solid var(--button-secondary-default);
    color: var(--text-general);
    background: transparent; }
    .empty-trade-history .btn:hover {
      background: var(--button-secondary-hover); }

